{
    "Name":"3D ThermoElectric model",
    "ShortName":"ThermoElec3D",
    "Parameters":
    {
        "T0":"293",
	    "Tin":"293",
        "V0":"1000",

        {{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}
    },
    "Materials":
    {
    },
    "BoundaryConditions":
    {
        "electric-potential":
        {
            "Dirichlet":
            {
                {{#boundary_Electric_Dir}}
				"{{name}}":
				{
					"expr": "{{value}}"
				},
				{{/boundary_Electric_Dir}}
            }
        },
        "temperature":
        {
            "Robin":
            {
                {{#boundary_Therm_Robin}}
				"{{name}}":
				{
					"expr1": "{{expr1}}",
					"expr2": "{{expr2}}"
				},
				{{/boundary_Therm_Robin}}
            }
        }
    },
    "InitialConditions":
    {
        "temperature":
        {
            "Expression":
            {
                "myic":
                {
                    "markers": {{part_thermic}},
                    "expr":"Tinit:Tinit"
                }
            }
        }
    },
    "PostProcess":
    {
        "use-model-name":1,
	    "thermo-electric":
        {
            "Exports":
            {
                "fields":"all"
            }
        }
    }
}
