{
    "Name": "Fully coupled 3D Stationnary model",
    "ShortName":"Full3DStat",
    "Models":"hdg",
    "Parameters":
    {
    },
    "Materials":
    {
    },
    "InitialConditions":
    {
        "temperature":
        {
            "Expression":
            {
                "myic":
                {
                    "expr":"Tinit:Tinit"
                }
            }
        }
    },
    "BoundaryConditions":
    {
		"electric-potential":
        {
            "Dirichlet":
            {
                "Inner1_LV0":
                {
                    "expr":"9"
                },
                "OuterL2_LV0":
                {
                    "expr":"0"
                }
            },
            "Neumann":
            {
            }
        },
		"temperature":
		{
			"Robin":
			{
			},
            "Neumann":
            {
            }
		}
    },
    "PostProcess":
    {
		"use-model-name":1,
        "electric":
        {
            "Exports":
            {
                "fields":"all"
            }
        },
        "heat":
        {
            "Exports":
            {
                "fields":"all"
            }
        }
    }
}
