{
    "Name": "Fully coupled 3D Stationnary model",
    "ShortName":"Full3DStat",
    "Models":
    {
        "equation":"hdg"
    },
    "Parameters":
    {
    },
    "Materials":
    {
		"Air":
		{
	    	"physics":"electric",
	    	"magnetic_c":"x/mu0:x:mu0",
	    	"magnetic_beta":"{2/mu0,0}:mu0"
		}
    },
    "InitialConditions":
    {
        "temperature":
        {
            "Expression":
            {
                "myic":
                {
                    "markers": {{part_withoutAir}},
                    "expr":"Tinit:Tinit"
                }
            }
        }
    },
    "BoundaryConditions":
    {
		"electric-potential":
        {
            "Dirichlet":
            {
            }
        },
		"temperature":
		{
			"Robin":
			{
			}
		}
    },
    "PostProcess":
    {
		"use-model-name":1,
        "electric":
        {
            "Exports":
            {
                "fields":"all"
            }
        },
        "heat":
        {
            "Exports":
            {
                "fields":"all"
            }
        }
    }
}
